body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

header img {
	width:100vw;
}

.section {
	width: 740px;
    padding: 80px 20px 60px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.ge-header {
	width: 740px;
    padding: 80px 20px 60px;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.ge-header h1 {
	color:#242424;
    font-weight: 700;
    padding-left: 44px;
    margin-bottom: 10px;
}

.ge-header h2 {
	color:#929191;
	font-weight: 200;
}

.ge-title-puce {
	width: 34px;
    height: 6px;
    display: block;
    margin-right: 16px;
    background: #2cbbbb;
    top: 126px;
    left: 21px;
    position: absolute;
}

.ge-description {
	width: 740px;
    padding: 0 20px 80px;
    max-width: 100%;
    margin: auto;
    color: #929191;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
}

.ge-presentation-macbook img {
	width: 54vw;
    margin: auto;
    display: inherit;
}

.ge-presentation-macbook span{
    background-color: #2cbbbb;
    width: 100vw;
    height: 250px;
    display: inline-block;
    position: relative;
    bottom: 147px;
    z-index: -1;

}

.ge-presentation-color li {
	list-style-type: none;
	display: inline-block;
	margin:auto 80px;
	transition: all ease 1s;
}

.ge-presentation-color {
	margin-bottom:150px;
}

.ge-presentation-color li:hover {
	transform: scale(1.10);
	transition: all ease 1s;
}

.ge-presentation-color img {
	box-shadow: 0px 0px 30px 0px #222;
    width:200px;

}

.ge-presentation-typo {
	background-color: #4d4d4d;
}

.ge-presentation-typo img {
	width:30vw;
	display: block;
	margin:auto;
}

.ge-presentation-typo li {
	list-style-type: none;
}

.ge-presentation-typo span#up {
	background-color: #4d4d4d;
	-webkit-transform:skewY(3deg);
	transform:skewY(3deg);
    -webkit-transform-origin:100% 0;
    transform-origin: 100% 0;
    padding-top: 50px;
    margin-bottom: 30px;
    display:block;
    height:98px;
}

.ge-presentation-typo span#down {
    background-color: #4d4d4d;
    -webkit-transform:skewY(-3deg);
    transform:skewY(-3deg);
    -webkit-transform-origin:100% 0;
    transform-origin: 100% 0;
    padding-top: 50px;
    margin-bottom: 30px;
    display:block;
    height:98px;
}

.ge-presentation-mockup {
    width: 100vw;
}

.ge-presentation-mockup img {
	width:42vw;
	display: block;
    box-shadow: 0px 0px 30px 0px #000;
}

.ge-presentation-responsive {

    background-color: #2cbbbb;
    background-size: 50px;
}

.ge-presentation-responsive img{
    width:49vw;
    display: block;
    margin:auto;
}

.ge-presentation-responsive.section:after{
    background-color: #005b7f;
    -webkit-transform:skewY(-3deg);
    transform:skewY(-3deg);
    -webkit-transform-origin:100% 0;
    transform-origin: 100% 0;
    padding-top: 50px;
    margin-bottom: 30px;
    display:block;
    height:30px;
}

footer {
    text-align: center;
    margin-top: 100px;
}

